security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # --- NUEVO: JERARQUÍA DE ROLES ---
    # Esto hace que el ADMIN tenga automáticamente todos los permisos del USER
    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
    # ---------------------------------

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
            logout:
                path: app_logout
            login_throttling:
                max_attempts: 3          
                interval: '10 minutes'

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # --- CAMBIO AQUÍ: REGLA GENÉRICA ---
        # Como hemos definido la jerarquía arriba, ROLE_ADMIN también entra aquí.
        # Dejamos entrar a todos los usuarios registrados, y luego en el Controlador
        # bloquearemos el 'delete' solo para admins.
        - { path: ^/imagen, roles: ROLE_USER }
        
        # Rutas públicas
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/logout, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon