
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/

/public/images/*

.DS_Store
._ *
Thumbs.db
Desktop.ini

/node_modules/
/assets/vendor/