{% extends 'base.html.twig' %}
{% block title %}
	Hola mundo!!!
{% endblock %}

{%block body %}
	<nav>
		<ul>
			<li><ahref="{{path('sym_index')}}">Inicio</a></li>
			<li><ahref="{{path('def_index1')}}">Proyecto</a></li>
			<li><ahref="{{path('def_index2')}}">Acerca de...</a></li>
		</ul>
	</nav>
{% endblock %}
